.bd-navbar {
    padding: .75rem 0;
    background-color: #7952b3;
}

.bd-navbar .navbar-nav .nav-link.active {
    font-weight: 600;
    color: #fff;
}

.brand-name {
    border: 2px solid white;
    padding: 1px;
    border-radius: 0px 21px 20px 1px;
}